IOMESSAGES_PLXXXX.ENG_FromCAP
IOMESSAGES_PLXXXX.ENG_FromCIN
IOMESSAGES_PLXXXX.ENG_FromCOU
IOMESSAGES_PLXXXX.ENG_FromISO
IOMESSAGES_PLXXXX.ENG_FromNTD
IOMESSAGES_PLXXXX.ENG_FromSCR
IOMESSAGES_PLXXXX.ENG_FromSI1
IOMESSAGES_PLXXXX.ENG_FromWFL
IOMESSAGES_PLXXXX.ENG_ToCAP
IOMESSAGES_PLXXXX.ENG_ToCIN
IOMESSAGES_PLXXXX.ENG_ToCOU
IOMESSAGES_PLXXXX.ENG_ToISO
IOMESSAGES_PLXXXX.ENG_ToNTD
IOMESSAGES_PLXXXX.ENG_ToSCR
IOMESSAGES_PLXXXX.ENG_ToSI1
IOMESSAGES_PLXXXX.ENG_ToWFL
