IOMESSAGES_PLXXXX.ENG_FromCAP
IOMESSAGES_PLXXXX.ENG_FromCIN
IOMESSAGES_PLXXXX.ENG_FromCOU
IOMESSAGES_PLXXXX.ENG_FromISO
IOMESSAGES_PLXXXX.ENG_FromNTD
IOMESSAGES_PLXXXX.ENG_FromSCR
IOMESSAGES_PLXXXX.ENG_FromSI1
IOMESSAGES_PLXXXX.ENG_FromWFL
IOMESSAGES_PLXXXX.ENG_ToCAP
IOMESSAGES_PLXXXX.ENG_ToCIN
IOMESSAGES_PLXXXX.ENG_ToCOU
IOMESSAGES_PLXXXX.ENG_ToISO
IOMESSAGES_PLXXXX.ENG_ToNTD
IOMESSAGES_PLXXXX.ENG_ToSCR
IOMESSAGES_PLXXXX.ENG_ToSI1
IOMESSAGES_PLXXXX.ENG_ToWFL
IOMESSAGES_PLXXXX.ENG_FromBHE
IOMESSAGES_PLXXXX.ENG_FromBKH
IOMESSAGES_PLXXXX.ENG_FromBSI
IOMESSAGES_PLXXXX.ENG_FromCHE
IOMESSAGES_PLXXXX.ENG_FromCLR
IOMESSAGES_PLXXXX.ENG_FromUFA
IOMESSAGES_PLXXXX.ENG_FromUPS
IOMESSAGES_PLXXXX.ENG_ToBHE
IOMESSAGES_PLXXXX.ENG_ToBKH
IOMESSAGES_PLXXXX.ENG_ToBSI
IOMESSAGES_PLXXXX.ENG_ToCHE
IOMESSAGES_PLXXXX.ENG_ToCLR
IOMESSAGES_PLXXXX.ENG_ToUFA
OUIT_BHE.ENG
OUIT_BKH.ENG
OUIT_BSI.ENG
OUIT_CAP.ENG
OUIT_CFT.ENG
OUIT_CHE.ENG
OUIT_CIN.ENG
OUIT_CLR.ENG
OUIT_COU.ENG
OUIT_MRO.ENG
OUIT_NTD.ENG
OUIT_SCR.ENG
OUIT_UFA.ENG
OUIT_UPS.ENG
OUIT_WFL.ENG
OUIT_WRS.ENG
