/__pycache__/**
/PHASES_out/**
/Venv/**
/venv/**
/build/**
/dist/**
/IO_OUT/**
/IO_OUT_APP/**
NomiCicliProd.txt
NomiCicliSan.txt
FIL_NomiCicliProd.txt
FIL_NomiCicliSan.txt
STC_NomiCicliProd.txt
/TAGNAMELISTLANG/**